@using TherapyCorner.Portal.Models
@using TherapyCorner.Portal.ResourceText;
@using reCAPTCHA.MVC;


@{
    ViewBag.Title = ProfilePages.ForgotId;
    Layout = "~/Views/Shared/_LayoutNL.cshtml";

}

<h2>@ProfilePages.ForgotId</h2>
<p>@ProfilePages.ForgotIdConfirm</p>

<h3 style="text-align:center">@Html.ActionLink(ProfilePages.Login, "login")</h3>





