.CredTable
{
    width:1023px;
}

 #tabs  .CredTable{
        width:788px;
    }

    .TypeText {
        width:240px;
    }

@media (max-width: 1200px) {

    .CredTable
    {
        width:874px;
    }
     #tabs  .CredTable{
        width:788px;
    }
    div.scrollTableContainer 
{
        margin-left:0px;
    }
        .NameText
        {
            width:180px;
        }

        #tabs .NameText
        {
            width:200px;
        }
     .DateText
     {
         width:90px;
     }

     #tabs .DateText
     {
         width:97px
     }
     td:last-of-type>div.DateText:last-of-type,th:last-of-type>div.DateText:last-of-type
     {
         width:60px
     }

          td:nth-of-type(7)>div.IdText,th:nth-of-type(7)>div.IdText
     {
         width:75px
     }
       #tabs td:last-of-type>div.DateText:last-of-type, #tabs th:last-of-type>div.DateText:last-of-type
     {
         width:90px
     }

        
}

@media (max-width: 1000px) {

    .CredTable
    {
        width:583px;
    }
    #tabs .CredTable {
        width: 570px;
    }

 
      td:nth-of-type(4),th:nth-of-type(4)
     {
         display:none;
     }
        #tabs   td:nth-of-type(3), #tabs th:nth-of-type(3)
     {
         display: table-cell;
     }
}
    @media (max-width: 767px) {
    .CredTable {
        width: 479px;
    }

       #tabs .CredTable {
        width: 453px;
    }

             td:nth-of-type(6),th:nth-of-type(6)
     {
         display:none;
     }
     .NameText
  {
      width:175px;
  }
        #tabs  .NameText
  {
      width:200px;
  }
     #tabs .DateText
     {
         width:95px
     }
          #tabs   td:nth-of-type(3), #tabs th:nth-of-type(3)
     {
         display: none;
     }
     
}

    @media (max-width: 480px) {
    .CredTable{
        width:374px;
    }
 
    .NameText
    {
        width:123px
    }
    #tabs  .CredTable{
        width:353px;
    }
}